<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823625903410-01lstd804sfko85pv6vsrj66fmptievi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823625903410-01lstd804sfko85pv6vsrj66fmptievi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823625903410-ei6jv31u48l59akqs7mj4tt50bobekr0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8dC8fEz8d9gH2w0D1KF79hYi3GdOKeWA</string>
	<key>GCM_SENDER_ID</key>
	<string>823625903410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aChat</string>
	<key>PROJECT_ID</key>
	<string>a-chat-db3ab</string>
	<key>STORAGE_BUCKET</key>
	<string>a-chat-db3ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823625903410:ios:02b9d36aa77dbc4feefb2b</string>
</dict>
</plist>